<!---------- New Shipment! ---------->

<body id="newshipment">s
	<div id="newshipmentuser" class="row">
		<div class="span4">

		<h1>New Trip</h1>

		<%= render 'form' %>

		<%= link_to 'Back', ships_path %>
		</div>
	</div>
</body>