/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/********************************
	application - css baby!
********************************/ 

body {
	padding-top: 100px;
}

/********************************
	Nav bar
********************************/ 

.navbar-inner {
  opacity:1;
}

.alert {
	margin-top: 5px;
}

#logo {
	width: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
}

#appnavagation {
	list-style: none;
	float: right;
	margin-top: 10px;
}

#appnavagation li {
	float: left;
	margin-right: 10px;
}

/*************************************
Final Image
************************************/
#bottomicon {
	width: 200px;
	float: left;
	margin-left: 500px;
	margin-top: 300px;
}

/********************************
	end nav
****************************/ 

#endoptions {
	float: right;
	list-style: none;
	margin-top: 50px;
	margin-right: 550px;
	font-family: sans-serif;
	font-size: 1.1em;
}

#endoptions li{
	float: left;
	margin-left: 20px;
	list-style: none;
	padding-bottom: 50px;
}







